#overlay {
  z-index: 300;
  position: fixed;
  background: rgba(0,0,0,0.45);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  cursor: pointer;
  display: none;
}
.modal_close {
  position: absolute;
  display: block;
  width: 20px;
  height: 20px;
  cursor: pointer;
  background: url(../images/sprite.png) no-repeat 0 -141px;
  right: 10px;
  top: 10px;
}
.modal_div {
  @include box-sizing;
  width: 300px;
  height: 340px;
  border-radius: 5px;
  background: #fff;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -170px;
  margin-left: -150px;
  opacity: 0;
  padding: 20px 10px;
  box-shadow: 0 0 10px 0 rgba(0,0,0,0.58);
  z-index: -1;
  span {
    display: block;
  }
  .title {
    font-size: 18px;
  }
  form {
    position: relative;
    padding-top: 10px;
    span {
      margin-top: 20px;
      font-size: 15px;
    }
    input {
      border: 1px solid #ddd;
      width: 100%;
    }
    input[type='email'],
    input[type='text'] {
      padding: 5px;
      margin-top: 5px;
    }
    input[type='submit'] {
      margin-top: 10px;
    }
  }
}
