.page-box {
  padding: 40px 0;
  background: #f1f0f0;
}
.white-bg {
  background: #fff;
}
.title {
  color: $blue;
  font-size: 27px;
  text-transform: uppercase;
  text-align: center;
  @include breakpoint((to: 768px)) {
    font-size: 20px;
  }
}
.block-scheme {
  display: inline-block;
  vertical-align: middle;
  @include breakpoint((to: 992px)) {
    display: block;
  }
}
.item-scheme {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  padding: 10px;

  background: $grey;
  width: 130px;
  span {
    color: #fff;
    font-size: 13px;
  }
  @include breakpoint((to: 992px)) {
    display: block;
    margin: auto;
    margin-bottom: 15px;
  }
}
.block-scheme-wrapper {
  max-width: 960px;
  margin: auto;
  text-align: center;
}
.arrow {
  display: table-cell;
  vertical-align: middle;
  width: 50px;
  &:before {
    content: '';
    width: 25px;
    height: 23px;
    background: url(../images/sprite.png) no-repeat 0 -70px;
    display: block;
    margin: auto;
  }
  @include breakpoint((to: 992px)) {
    display: block;
    margin: 0 auto 10px;
    &:before {
      background-position: 0 -164px;
    }
  }
}
.last-item-scheme {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  span {
    display: block;
    padding: 33px 30px;
    text-align: center;
    color: #fff;
    font-size: 13px;
    margin-bottom: 20px;
    background: $grey;
    &:last-child {
      margin-bottom: 0;
    }
  }
  @include breakpoint((to: 992px)) {
    display: block;
    margin: auto;
    span {
      @include inline-block(middle);
      margin-bottom: 0;
      &:first-child {
        margin-right: 30px;
      }
    }
  }
  @include breakpoint((to: 768px)) {
    span {
      &:first-child {
        margin-right: 5px;
      }
    }
  }
}
.arrow-lost {
  display: table-cell;
  position: relative;
  width: 50px;
  &:before,
  &:after {
    content: '';
    position: absolute;
    width: 22px;
    height: 20px;
    display: block;
    left: 50%;
    margin-left: -11px;
    background: url(../images/sprite.png) no-repeat;
  }
  &:before {
    top: 0;
    background-position: 0 -96px;
  }
  &:after {
    bottom: 0;
    background-position: 0 -119px;
  }
  @include breakpoint((to: 992px)) {
    display: block;
    height: 20px;
    width: 80px;
    margin: 0 auto 20px;
    &:before,
    &:after {
      left: auto;
      margin-left: 0;
    }
    &:before {
      left: 0;
      background-position: 0 -194px;
    }
    &:after {
      right: 0;
      top: 0;
      background-position: 0 -218px;
    }
  }
}
.plus-wrap {
  margin-top: 50px;
  text-align: center;
}
.plus-item {
  margin-bottom: 20px;
  width: 170px;
  @include inline-block(top);
  @include box-sizing;
  margin-right: 10px;
  &:last-child {
    margin-right: 0;
  }
  p {
    font-size: 14px;
    margin-top: 25px;
  }
  @include breakpoint((to: 992px)) {
    p {
      margin-top: 10px;
    }
  }
}
.plus-img {
  max-width: 155px;
  height: 55px;
  margin: auto;
  overflow: hidden;
  img {
    max-width: 100%;
  }
}
.item-description {
  text-align: left;
  @include inline-block(top);
  margin-right: 30px;
  margin-bottom: 30px;
  width: 260px;
  span {
    @include inline-block(middle);
    font-size: 14px;
    @include box-sizing;
  }
  @include breakpoint((to: 600px)) {
    margin-right: 0;
  }
}
.icon-tape {
  padding: 10px 15px;
  font-weight: bold;
  width: 50px;
  color: #fff;
  height: 45px;
  background: url(../images/tape.png) no-repeat center center;
}
.tepe-desc {
  width: 200px;
  font-size: 14px;
}
.text-wrapper {
  padding: 0 50px;
  margin-top: 30px;
  p {
    margin-bottom: 25px;
    font-size: 14px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  @include breakpoint((to: 992px)) {
    padding: 0 10px;
  }
}
.item-garant {
  width: 150px;
  @include inline-block(top);
  margin-right: 35px;
  margin-left: 35px;
  margin-bottom: 15px;
  .img-garant {
    width: 110px;
    margin: auto;
    overflow: hidden;
    margin-bottom: 10px;
    img {
      max-width: 100%;
    }
  }
  p {
    font-size: 16px;
    color: #484848;
  }
}


// .certificate {
//   width: 145px;
//   @include inline-block(top);
//   overflow: hidden;
//   margin-right: 40px;
//   margin-bottom: 40px;
//   &:last-child {
//     margin-right: 0;
//   }
//   img {
//     max-width: 100%;
//   }
// }
.certificate {
  position: relative;
  text-align: center;
  margin-bottom: 10px;
  max-width: 900px;
  margin: 30px auto;
  a {
    display: inline-block;
    width: calc(20% - 22px);
    overflow: hidden;
    margin-right: 5px;
    margin-left: 5px;
    @include box-sizing;
    img {
      width: 100%;
      height: 100%;
    }
  }
}


footer {
  padding: 30px 0;
  text-align: center;
  .contac-info-row {
    max-width: 1000px;
    margin: auto;
  }
  .contact-info {
    text-align: left;
    margin-left: 20px;
    margin-right: 20px;
    width: 205px;
    margin-bottom: 10px;
    @include inline-block(middle);
    span {
      display: block;
    }
    .btn {
      @include inline-block;
      background: #fff;
      color: #000;
      cursor: pointer;
      padding: 5px 10px;
      text-transform: uppercase;
      color: $blue;
      transition: .5s;
      &:hover {
        background: $grey;
        color: #fff;
      }
    }
    span {
      color: #5f5f5f;
      font-size: 14px;
    }
  }
}



.lightbox {
  cursor: pointer;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: black;
  /* IE Fallback (Solid Colour) */
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAIElEQVQ4T2NkYGDYDMRkA8ZRAxhGw4BhNAyA+WAYpAMAIFgLQfO9BoEAAAAASUVORK5CYII=);
  background: rgba(0, 0, 0, 0.7);
  -webkit-filter: none !important;
  z-index: 9997;
}

.lightbox img {
  display: block;
  position: absolute;
  border: 5px solid #fff;
  box-shadow: 0 0 20px #000;
  border-radius: 1px;
}

body.blurred > * {
  -webkit-filter: blur(2px);
  -webkit-transform: translate3d(0, 0, 0);
}

.lightbox__loading {
  width: 32px;
  height: 32px;
  margin: -16px 0 0 -16px;
  position: absolute;
  top: 50%;
  left: 50%;
}

.lightbox__caption {
  display: none;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  z-index: 9998;
  background: #000;
  background: rgba(0, 0, 0, 0.7);
}

.lightbox__caption p {
  margin: 0 auto;
  max-width: 70%;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  padding: 10px;
  color: #fff;
  font-size: 12px;
  line-height: 18px;
}

.lightbox__button {
  position: absolute;
  z-index: 9999;
  background: no-repeat center center;
  width: 32px;
  height: 32px;
  opacity: 0.4;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  transition: all 0.3s;
}

.lightbox__button:hover,
.lightbox__button:focus {
  opacity: 1;
  -webkit-transform: scale(1.4);
  -moz-transform: scale(1.4);
  -ms-transform: scale(1.4);
  transform: scale(1.4);
}

.lightbox__close {
  right: 10px;
  top: 10px;
}

.lightbox__nav {
  top: 50%;
  margin-top: -16px;
}

.lightbox__nav--next {
  right: 10px;
}

.lightbox__nav--prev {
  left: 10px;
}


