.slider-box {
  background: #fff;
  padding: 10px 10px 30px 10px;
}
.main-slider {
  background: url(../images/slider-bg.jpg) no-repeat;
  background-size: cover;
  position: relative;
  img {
    max-width: 100%;
  }
}
.next,
.prev {
  position: absolute;
  width: 32px;
  height: 32px;
  background: url(../images/sprite.png) no-repeat;
  top: 50%;
  margin-top: -16px;
  cursor: pointer;
  z-index: 100;
  @include breakpoint((to: 600px)) {
    display: none;
  }
}
.next {
  right: 7px;
  background-position: 0 -35px;
}
.prev {
  left: 7px;
  background-position: 0 0;
}
.slide-wrap {
  height: 550px;
  padding: 70px 50px 0 50px;
  @include breakpoint((to: 992px)) {
    height: auto;
    padding: 20px 0;
  }
}
.text-wrap {
  @include inline-block(middle);
  width: 70%;
  margin-left: -100px;
  h2 {
    color: #fff;
    font-size: 30px;
    text-transform: uppercase;
    padding-left: 100px;
  }
  @include breakpoint((to: 992px)) {
    display: block;
    width: 100%;
    margin-left: 0;
    margin-top: 15px;
    h2 {
      font-size: 20px;
      padding-left: 15px;
      margin-bottom: 10px;
    }
  }
  @include breakpoint((to: 768px)) {
    h2 {
      font-size: 18px;
    }
  }
  @include breakpoint((to: 600px)) {
    display: block;
  }
}
.slide-text {
  padding-left: 100px;
  background: rgba(255, 255, 255, 0.72);
  padding-top: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
  ul {
    li {
      color: $grey;
      list-style: initial;
      margin-left: 20px;
      margin-bottom: 10px;
    }
  }
  h4 {
    font-size: 19px;
    color: $grey;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 10px;
  }
  p {
    font-size: 15px;
    color: $grey;
    margin-top: 15px;
    margin-bottom: 10px;
  }
  span {
    text-align: right;
    text-transform: uppercase;
    margin-top: 20px;
    color: $blue;
    display: block;
    font-size: 20px;
    font-weight: bold;
  }
  @include breakpoint((to: 992px)) {
    padding-left: 15px;
  }
  @include breakpoint((to: 768px)) {
    ul {
      li {
        list-style: none;
        margin-left: 0;
      }
    }
    h4 {
      font-size: 15px;
    }
    p {
      font-size: 13px;
    }
    span {
      font-size: 15px;
      margin-top: 10px;
    }
  }
  @include breakpoint((to: 600px)) {
    display: block;
  }
}
.image-wrap {
  @include inline-block(middle);
  width: 35%;
  img {
    max-width: 100%;
  }
  @include breakpoint((to: 992px)) {
    display: block;
    width: auto;
    margin: auto;
    img {
      margin: auto;
    }
  }
}
.link-wrap {
  text-align: right;
  margin-top: 20px;
  span {
    @include inline-block;
    padding: 15px 25px;
    background: $blue;
    color: #fff;
    text-transform: uppercase;
    font-size: 24px;
    z-index: 1;
    cursor: pointer;
    position: relative;
    transition: .5s;
    text-decoration: none;
    &:hover {
      background: $grey
    }
  }
  @include breakpoint((to: 768px)) {
    span {
      font-size: 18px;
    }
  }
}


.block-title {
  background: $blue;
  text-align: center;
  padding: 10px 0;
  p {
    color: #fff;
    font-size: 26px;
  }
  @include breakpoint((to: 992px)) {
    font-size: 20px;
  }
  @include breakpoint((to: 768px)) {
    p {
      font-size: 17px;
    }
  }
}
.table-box {
  h3 {
    color: $blue;
    font-size: 27px;
    text-transform: uppercase;
    text-align: center;
    padding: 30px 0;
  }
  @include breakpoint((to: 768px)) {
    h3 {
      font-size: 21px;
    }
  }
}
.specifications {
  width: 100%;
  border: 1px solid #e8e8e8;
  border-spacing: 1px;
  border-color: #e8e8e8;
  border-collapse: collapse;
  @include breakpoint((to: 992px)) {
    display: none;
  }
  thead {
    background: #b0b0b0;
  }
  td {
    padding: 10px 5px;
    border: 1px solid #e8e8e8;
    text-align: center;
  }
  tbody {
    tr {
      td {
        &:first-child {
          text-align: left;
        }
      }
      &:nth-child(2n) {
        background: #f2f2f2;
      }
    }
  }
  .button {
    font-size: 16px;
  }
}
.table-wrapper {
  overflow-x: auto;
}
.adaptive {
  display: none;
  thead {
    background: #b0b0b0;
    th {
      padding: 10px;
    }
  }
  td {
    padding: 10px;
  }
  tbody {
    tr {
      &:nth-child(2n) {
        background: #f2f2f2;
      }
    }
  }
  @include breakpoint((to: 992px)) {
    display: table;
  }
}
